<div class="pa-title" fxLayoutAlign="space-between">
  <div
    fxFlex="40"
    class="pa-title__logo"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <img src="assets/images/molecule.png" alt="Logo" />
    <p class="pa-title__title">
      ARGININE <br />
      GAME
    </p>
  </div>
  <div class="pa-title__instruction" fxLayoutAlign="center">
    <img src="assets/images/emphasis.png" alt="Emphasis" />

    <div
      class="pa-title__instruction-content"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <span class="pa-title__instruction-title">
        Are you familiar with ARGININE?
      </span>
      <span class="pa-title__instruction-sub-title">
        Let's check!
      </span>
      <div class="pa-title__divider"></div>
      <span class="pa-title__instruction-description">
        All you have to do is click on 5 food items that
      </span>
      <span class="pa-title__instruction-description">
        you think are rich in Arginine in 15 seconds.
      </span>

      <span class="pa-title__instruction-description mt-4">
        <br />
        And then we'll show you if you are right!
      </span>
      <span class="pa-title__instruction-try-it">
        Try it now!
      </span>
    </div>
  </div>
</div>
