<div class="pa-main" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>


  <div *ngIf="isPortrait" class="pa-main__use-landscape animate__animated animate__fadeInDown"
    [ngStyle]="{height: height + 'px', width: width + 'px'}">
    <img class="pa-main__logo" src="assets/images/logo.png" alt="Logo">
    <div class="pa-main__landscape-text">
      <img src="assets/images/phone.png" alt="Phone">

      <span>
        This game works best <br>in landscape mode.
      </span>
    </div>
  </div>

</div>
