@font-face {
  font-family: 'Varela';
  src: url(/assets/fonts/VarelaRound-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Dolce Vita';
  src: url(/assets/fonts/dolce_vita/DolceVita.ttf) format('truetype');
}
