<div class="pa-game">
  <!-- <div class="pa-game__timer-container">
    <span class="pa-game__are-you-ready">
      ARE YOU READY?
    </span>
    <span class="pa-game__timer">
      {{ startTimer }}
    </span>
  </div> -->

  <div class="pa-game__container">
    <div class="pa-game__timer-container">
      <img src="assets/images/emphasis.png" alt="Timer" />
      <div>
        <span>00:15</span>
      </div>
    </div>

    <div class="pa-game__food-container">
      <img class="pa-game__food-1" src="assets/images/turkey.png" alt="Food" />
      <img class="pa-game__food-2" src="assets/images/turkey.png" alt="Food" />
      <img class="pa-game__food-3" src="assets/images/turkey.png" alt="Food" />
      <img class="pa-game__food-4" src="assets/images/turkey.png" alt="Food" />
      <img class="pa-game__food-5" src="assets/images/turkey.png" alt="Food" />
      <img class="pa-game__food-6" src="assets/images/turkey.png" alt="Food" />
      <img class="pa-game__food-7" src="assets/images/turkey.png" alt="Food" />
      <img class="pa-game__food-8" src="assets/images/turkey.png" alt="Food" />
      <img class="pa-game__food-9" src="assets/images/turkey.png" alt="Food" />
      <img class="pa-game__food-10" src="assets/images/turkey.png" alt="Food" />
      <img class="pa-game__food-11" src="assets/images/turkey.png" alt="Food" />
      <img class="pa-game__food-12" src="assets/images/turkey.png" alt="Food" />
    </div>
  </div>
</div>
