@import "~src/assets/scss/theme-config";
@import "~src/assets/scss/config";

.#{$style-prefix}-game {
  min-height: 100vh;
  width: 100%;
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;

  &__timer-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__are-you-ready {
    color: $primary;
    font-weight: bolder;

    @include for-phone {
      font-size: 32px;
    }

    @include for-tablet {
      font-size: 36px;
    }

    @include for-small-desktop {
      font-size: 42px;
    }

    @include for-desktop {
      font-size: 48px;
    }

    @include for-big-desktop {
      font-size: 64px;
    }
  }

  &__container {
    height: 100%;
    width: 100%;
  }

  &__timer-container {
    height: fit-content;
    width: fit-content;
    position: absolute;
    display: flex;
    justify-content: center;
    // align-items: center;
    right: 0;
    top: 0;

    img {
      height: 40vh;
    }

    div {
      font-family: "Digital";
      color: $light;
      font-weight: bold;
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-left: 11%;

      @include for-phone {
        font-size: 42px;
        margin-top: 10px;
      }

      @include for-tablet {
        font-size: 48px;
        margin-top: 15px;
      }

      @include for-small-desktop {
        font-size: 72px;
        margin-top: 20px;
      }

      @include for-desktop {
        font-size: 84px;
        margin-top: 25px;
      }

      @include for-big-desktop {
        font-size: 120px;
        margin-top: 30px;
      }
    }
  }

  &__food-container {
    img {
      cursor: pointer;
      height: 34vh;
      position: absolute;
      transition: 0.2s linear;

      &:hover {
        height: 35vh;
      }
    }
  }

  &__food-1 {
    position: absolute;
    top: 15vh;
    left: 17vh;

    &-overlay {
      position: absolute;
      top: 15vh;
      left: 17vh;
      opacity: 0.5;

      &:hover {
      height: 34vh;
      }
    }
  }

  &__food-2 {
    animation-delay: 0.1s;
    position: absolute;
    top: 15vh;
    left: 85vh;

    
    &-overlay {
      position: absolute;
      animation-duration: 0.2s;
      
      top: 15vh;
      left: 85vh;
      opacity: 0.5;

      &:hover {
        height: 34vh;
        }
    }
  }

  &__food-3 {
    animation-delay: 0.15s;    
    position: absolute;
    top: 32vh;
    left: 0;
    
    &-overlay {
      position: absolute;
      animation-duration: 0.2s;
      
      top: 32vh;
      left: 0;
      opacity: 0.5;

      &:hover {
        height: 34vh;
        }
    }
  }

  &__food-4 {
    animation-delay: 0.2s;    
    position: absolute;
    top: 32vh;
    left: 34vh;
    
    &-overlay {
      position: absolute;
      animation-duration: 0.2s;
      
      top: 32vh;
      left: 34vh;
      opacity: 0.5;

      &:hover {
        height: 34vh;
        }
    }
  }

  &__food-5 {
    animation-delay: 0.25s;        
    position: absolute;
    top: 32vh;
    left: 68vh;
    
    &-overlay {
      position: absolute;
      animation-duration: 0.2s;
      
      top: 32vh;
      left: 68vh;
      opacity: 0.5;

      &:hover {
        height: 34vh;
        }
    }
  }

  &__food-6 {
    position: absolute;
    top: 32vh;
    left: 102vh;
    
    &-overlay {
      animation-duration: 0.2s;
      
      position: absolute;
    top: 32vh;
    left: 102vh;
      opacity: 0.5;

      &:hover {
        height: 34vh;
        }
    }
  }

  &__food-7 {
    animation-delay: 0.1s;     
    position: absolute;
    top: 49vh;
    left: 17vh;
    
    &-overlay {
      position: absolute;
      animation-duration: 0.2s;
      
      top: 49vh;
      left: 17vh;
      opacity: 0.5;

      &:hover {
        height: 34vh;
        }
    }
  }
  &__food-8 {
    animation-delay: 0.15s;    
    position: absolute;
    top: 49vh;
    left: 51vh;
    
    &-overlay {
      position: absolute;
      animation-duration: 0.2s;
      
      top: 49vh;
      left: 51vh;
      opacity: 0.5;

      &:hover {
        height: 34vh;
        }
    }
  }
  &__food-9 {
    animation-delay: 0.2s;    
    position: absolute;
    top: 49vh;
    left: 85vh;
    
    &-overlay {
      position: absolute;
      animation-duration: 0.2s;
      
      top: 49vh;
      left: 85vh;
      opacity: 0.5;

      &:hover {
        height: 34vh;
        }
    }
  }
  &__food-10 {
    animation-delay: 0.25s;    
    position: absolute;
    top: 49vh;
    left: 119vh;
    
    &-overlay {
      animation-duration: 0.2s;
      
      position: absolute;
      top: 49vh;
      left: 119vh;
      opacity: 0.5;

      &:hover {
        height: 34vh;
        }
    }
  }

  &__food-11 {
    position: absolute;
    top: 66vh;
    left: 34vh;
    
    &-overlay {
      position: absolute;
      animation-duration: 0.2s;
      
      
    top: 66vh;
    left: 34vh;
      opacity: 0.5;

      &:hover {
        height: 34vh;
        }
    }
  }
  &__food-12 {
    position: absolute;
    top: 66vh;
    left: 102vh;
    
    &-overlay {
      position: absolute;
      top: 66vh;
      left: 102vh;
      opacity: 0.5;
      animation-duration: 0.2s;

      &:hover {
        height: 34vh;
        }
    }
  }

  &__timer {
    color: $primary;
    font-weight: 800;

    @include for-phone {
      font-size: 64px;
    }

    @include for-tablet {
      font-size: 72px;
    }

    @include for-small-desktop {
      font-size: 84px;
    }

    @include for-desktop {
      font-size: 100px;
    }

    @include for-big-desktop {
      font-size: 140px;
    }
  }
}
