<div class="pa-game">
  <div *ngIf="startTimer > 0" class="pa-game__timer-container-2">
    <span class="pa-game__are-you-ready">
      ARE YOU READY?
    </span>
    <span class="pa-game__timer">
      {{ startTimer }}
    </span>
  </div>

  <div *ngIf="startTimer <= 0" class="pa-game__container ">
    <div class="pa-game__timer-container animate__bounceInDown animate__animated">
      <img src="assets/images/emphasis.png" alt="Timer" />
      <div>
        <span>00:{{ time }}</span>
      </div>
    </div>

    <div class="pa-game__food-container">
      <ng-container *ngFor="let food of foods; let i = index" > 
        <img (click)="selectFood(food)" class="pa-game__food-{{ i + 1 }} animate__bounceInLeft animate__animated" [src]="food.path" alt="Food" />
        <img (click)="selectFood(food)" *ngIf="food.selected" class="pa-game__food-{{ i + 1 }}-overlay animate__zoomIn animate__animated" src="assets/images/overlay.png" alt="Food" />
      </ng-container>
    </div>
  </div>
</div>
